/**
    @date: 	2021-01-06
    @author: HD Hyundai Robototics. choi, won-hyuk (asoe72@hyundai-robotics.com)
*/

@page {
    size: A4;
    margin-top: 20mm;
    margin-bottom: 20mm;
    margin-left: 20mm;
    margin-right: 20mm;
}

@page {
    @top-left {
        content: string(series-run);
        font-size: 9pt;
        color: rgb(128,128,128);
    }
    @top-right {
        content: string(title-run);
        font-size: 9pt;
        color: rgb(128,128,128);
    }
    @bottom-left {
        content: string(publisher-run);
        font-size: 9pt;
        color: rgb(128,128,128);
    }
    @bottom-center {
        content: counter(page);
        font-size: 9pt;
        color: rgb(161, 142, 142);
    }
    @bottom-right {
        content: string(updated-date-run);
        font-size: 9pt;
        color: rgb(128,128,128);
    }
}

@page:first {
    @top-left {
        content: none;
	}
	@top-right {
        content: none;
	}
	@bottom-left {
        content: none;
    }
    @bottom-left {
        content: none;
    }
	@bottom-center {
        content: none;
    }
	@bottom-right {
        content: none;
    }
}

@media print {
    .page-break, h1 { page-break-before: always; }
	#info-series { string-set: series-run content(text); }
	#info-title { string-set: title-run content(text); }
    #info-publisher { string-set: publisher-run content(text); }
    #info-updated-date { string-set: updated-date-run content(text); }
    body { margin: 0px; }
}   

@media only screen {
    body { margin: 10px 30px 20px 20px; }
}

body {
    font-family: 'HD Light';
    font-size: 1.0rem;
}

.book-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.book-hd-logo-box {
    margin-top: 0cm;
    padding-top: 0cm;
}

.book-manual-updated-date {
    margin-top: 0.2cm;
    font-family: 'HD Light';
    font-size: 1.1rem;
    color: rgb(20,20,20);
}

.book-header-line {
    width: 100%;
    margin-top: 0.2cm;
    border: 1px solid black;
}

.book-series {
    padding-top: 2.0cm;
	padding-left: 0.1cm;
	line-height: 0.5em;
    color: rgb(60,60,60);
    font-size: 16pt;
}

.book-title {
    margin-top: -0.2cm;
    padding-left: 0.1cm;
    line-height: 1.5em;
    font-size: 22pt;
    font-weight: 600;
    color: rgb(20,20,20);
}

.book-caution-title {
    position: absolute;
    top: 21.7cm;
    left: 0cm;
    font-size: 12pt;
    font-weight: 600;
}

.book-caution-body {
    position: absolute;
    top: 22.2cm;
    left: 0cm;
    font-size: 8pt;
    line-height: 1.8em;
    color: rgb(140,140,140);
}

.book-copyright {
    position: absolute;
    top: 25.7cm;
    left: 0cm;
    font-size: 8pt;
    color: rgb(140,140,140);
    z-index: 5;
}

#toc li a::after{
    color: black;
    content: target-counter(attr(href), page);
    float: right;
}

.book-prior-warning li {
    margin-bottom: 1.2em;
    font-family: 'HD Medium';
}

.book-tail-addr {
    position: absolute;
    top: 13cm;
    font-size: 10pt;
    line-height: 1.5em;
}


/* title ---------------------------- */

h1 {
    color: rgb(0,173,29);
    margin-bottom: 4px;
    font-family: 'HD Bold';
    font-size: 1.4rem;
}

h2 {
    color: rgb(0,173,29);
    margin-top: 2.5em;
    margin-bottom: 0.8em;
    font-family: 'HD Medium';
    font-size: 1.2rem;
}

h3 {
    color: rgb(0,173,29);
    margin-top: 2em;
    margin-bottom: 0.8em;
    font-family: 'HD Medium';
    font-size: 1.1rem;
}

h4 {
    color: rgb(40, 40, 40);
    margin-top: 1.8em;
    margin-bottom: 0.8em;
    font-family: 'HD Medium';
    font-size: 1.1rem;
}

p {
    line-height: 180%;
    font-family: 'HD Light';
    font-size: 1.0rem;
}

li {
    line-height: 160%;
}

hr {
    margin-top: 0px;
    border-top: none;
    border-color: rgb(0,173,29);
    height: 1px;
}

img {
    max-width: 90%;
}

figcaption {
    margin-top: 0.5rem;
    font-family: 'HD Light', Tahoma;
    font-size: 0.9rem;
    text-align: center;
}

:not(pre) > code {
    background-color: #ddd;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-family: 'HD Light', Tahoma;
}

/* table --------------------------- */
table {
    border-collapse: collapse;
    border: 1px solid #999999;
    width: 100%;
}

th, td {
    padding: 0.4em 0.3em;
    min-width: 4em;
    border: 1px solid #999999;
    line-height: 140%;
    font-size: 11pt;
}

tr {
    break-inside: avoid;
}

th {
    text-align: center !important;
    background-color: #ddd;
}

.hint-box {
    margin: 1em 0em;
    padding: 3em;
}

.danger-box-left, .warning-box-left, .hint-box-right {
    border-top: 1px solid;
    border-bottom: 1px solid;    
    padding: 1em;
}

.danger-box-left {
    text-align: center;
    background-color: red;
    padding: 0em 1.5em;
}

.warning-box-left {
    text-align: center;
    background-color: #ffcc88;
    padding: 0em 1.5em;
}

.info-box-left {
    text-align: center;
    background-color: lightblue;
    padding: 0em 1.5em;
}

.codebox {
    color: #111;
    font-size: 1em;
    border: 1px solid darkgray;
    background-color: rgb(245, 245, 245);
    line-height: 1.2em;
    width: 100%;
    padding: 10px;

    /* 인쇄용이므로 줄 바꿈 */
    white-space: pre-wrap;
    word-break: break-all;
}

.customer-support-wrap {
    display: flex;
    gap: 4rem;             /* 텍스트와 QR 사이 간격 */
}
