<!DOCTYPE html:5>
<html>
<head>
    <title>book cover back</title>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <link href="../css/book.css" type=text/css rel=stylesheet >
    <link href="../css/book_back.css" type=text/css rel=stylesheet >
    <!-- body만 추출되므로 head는 의미없다. -->
</head>
<body>
    <div class="page-break"></div>
    <div class="book-back-tail-addr">
        <br><br><br><br>
        <img src="../view/image/hd_hyundai_robotics_ko.png" height="36"/><br>
        <div class='book-back-customer-support-wrap'>
            <div>
                <h2 style="color: #000;">고객 지원</h2><br>
                대표 번호: 1588-9997 내선1번 | 이메일: robotas@hd.com<br>
                온라인설명서(HRBOOK) : <a href="https://hrbook-hrc.web.app/#/bookshelf">https://hrbook-hrc.web.app/#/bookshelf</a><br>
                카카오채널(HD현대로보틱스AS) : <a href="http://pf.kakao.com/_hbuJb/chat">http://pf.kakao.com/_hbuJb/chat</a><br>
                이용 시간: 평일(월 ~ 금) 08:00 ~ 20:00 (울산사무소 08:00~익일 05:00 토요일까지 운영)<br>
                <div style='padding-left: 3rem'>| 주말 및 공휴일 휴무</div>
                제품이나 서비스에 대한 자세한 문의는 당사의 고객지원팀으로 연락하시기 바랍니다.<br>
            </div>
            <div>
                <img src="../view/image/qr_hd_hyundairobotics.png" width="90" height="80"/><br><br>
            </div>
        </div>
        <br>
        <ul>
            <li>경기: 경기도 성남시 분당수서로 477 HD현대 글로벌 R&D센터 10층</li>
            <li>대구: 대구광역시 달성군 유가읍 테크노순환로 3길 50</li>
            <li>울산: 울산광역시 북구 매곡산업로21 자동차조선기술관 201-5호</li>
            <li>중부: 충청남도 아산시 염치읍 송곡길 161</li>
            <li>광주: 광주광역시 서구 풍서우로 374</li>
        </ul>
        <br>
        홈페이지 : <a href="https://hd-hyundairobotics.com/">https://hd-hyundairobotics.com/</a>
    </div>
</body>
</html>