<!DOCTYPE html:5>
<html>
<head>
    <title>book cover back</title>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <link href="../css/book.css" type=text/css rel=stylesheet >
</head>
<body>
    <div class="page-break"></div>
    <div class="book-tail-addr">
        <br><br><br><br>
        <img src="../view/image/hd_hyundai_robotics_ko.png" height="40"/><br><br>
        <b>고객 지원</b><br>
        대표 번호: 1670-5041 | 이메일: robotics@hd.com<br>
        온라인설명서(HRBOOK) : <a href="https://hrbook-hrc.web.app/#/bookshelf">https://hrbook-hrc.web.app/#/bookshelf</a><br>
        카카오채널(HD현대로보틱스AS) : <a href="http://pf.kakao.com/_hbuJb/chat">http://pf.kakao.com/_hbuJb/chat</a><br>
        이용 시간: 평일(월 ~ 금) 09:00 ~ 18:00 | 주말 및 공휴일 휴무<br>
        제품이나 서비스에 대한 자세한 문의는 당사의 고객지원팀으로 연락하시기 바랍니다.<br>
        <br>
        <ul>
            <li>경기: 경기도 성남시 분당수서로 477 HD현대 글로벌 R&D센터 10층</li>
            <li>대구: 대구공역시 달성군 유가면 테크노순환로 3길 50</li>
            <li>울산: 울산광역시 북구 매곡산업로21 자동차조선기술관 201-5호</li>
            <li>중부: 충남 아산시 염치읍 송곡길 161</li>
            <li>광주: 광주광역시 광산구 평동산단로 170-3 B동 101호</li>
        </ul>
        ARS 1588-9997 | ARS 1번 로봇고장접수, 2번 로봇구입, 3번 부품 구입, 4번 투자 문의, 5번 채용 문의, 6번 교육 문의<br>
        <a href="www.hyundai-robotics.com">www.hyundai-robotics.com</a>
    </div>
</body>
</html>