<!DOCTYPE html:5>
<html>
<head>
    <title>book cover back</title>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <link href="../css/book.css" type=text/css rel=stylesheet >
</head>
<body>
    <div class="page-break"></div>
    <div class="book-tail-addr">
        <img src="../view/image/hdrobotics.png" width="320"/><br><br>
        <b>Customer support</b><br>
        Contact: 1670-5041 | Email: robotics@hyundai-robotics.com<br>
        Operating hours: Weekdays (Monday–Friday) 09:00–18:00 | Closed on weekends and holidays<br>
        For any inquiries about our products or services, please contact our customer support team.<br>
        <br>
        Gyeonggi: 2nd Floor, Medipark building, 43, Dolma-ro, Bundang-gu, Seongnam-si, Gyeonggi-do, Republic of Korea<br>
        Daegu: 50, Techno sunhwan-ro 3-gil, Yuga-eup, Dalseong-gun, Daegu, Republic of Korea<br>
        Ulsan: Room 201-5, Automobile & Shipping Technology Hall, 21, Maegoksaneop-ro, Buk-gu, Ulsan, Republic of Korea<br>
        Joongbu: 161, Songgok-gil, Yeomchi-eup, Asan-si, Chungcheongnam-do, Republic of Korea<br>
        Gwangju: Room 101, Building B, 170-3, Pyeongdongsandan-ro, Gwangsan-gu, Gwangju, Republic of Korea<br>
        ARS 1588-9997 | 1 Robot Sales 2 Service Sales 3 Consultation for Purchase 4 Customer Support 5 Inquiry for Investment 6 Inquiries for Recruitment and General Matters<br>
        <a href="www.hyundai-robotics.com">www.hyundai-robotics.com</a>
    </div>
</body>
</html>