<!DOCTYPE html:5>
<html>
<head>
    <title>book cover back</title>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <link href="../css/book.css" type=text/css rel=stylesheet >
    <link href="../css/book_back.css" type=text/css rel=stylesheet >
    <!-- body만 추출되므로 head는 의미없다. -->
</head>
<body>
    <div class="page-break"></div>
    <div class="book-back-tail-addr">
        <img src="../view/image/hd_hyundai_robotics_en.png" height="36"/><br><br>
        <div class='book-back-customer-support-wrap'>
            <div>
                <h2 style="color: #000;">Customer support</h2><br>
                Contact: 1588-9997, Ext. 1 | Email: robotas@hd.com<br>
                Online manual(HRBOOK) : <a href="https://hrbook-hrc.web.app/#/bookshelf">https://hrbook-hrc.web.app/#/bookshelf</a><br>
                kakao channel(HD Hyundai Robotics AS) : <a href="http://pf.kakao.com/_hbuJb/chat">http://pf.kakao.com/_hbuJb/chat</a><br>
                Operating hours: Weekdays (Mon–Fri): 08:00–20:00
                <div style='padding-left: 4rem'>
                    (Ulsan Office: 08:00 until 05:00 the following day, operated until Saturday)<br>
                    | Closed on weekends and holidays
                </div>
                For any inquiries about our products or services, please contact our customer support team.<br>
            </div>
            <div>
                <img src="../view/image/qr_hd_hyundairobotics.png" width="90" height="80"/><br><br>
            </div>
        </div>
        <br>
        <ul>
            <li>Gyeonggi: 10F, HD Hyundai Global R&D Center, 77 Bundang-suseo-ro, Seongnam, Gyeonggi-do, Republic of Korea</li>
            <li>Daegu: 50, Techno sunhwan-ro 3-gil, Yuga-eup, Dalseong-gun, Daegu, Republic of Korea</li>
            <li>Ulsan: Room 201-5, Automobile & Shipping Technology Hall, 21, Maegoksaneop-ro, Buk-gu, Ulsan, Republic of Korea</li>
            <li>Joongbu: 161, Songgok-gil, Yeomchi-eup, Asan-si, Chungcheongnam-do, Republic of Korea</li>
            <li>Gwangju: 374 Pungseo-u-ro, Seo-gu, Gwangju, Republic of Korea</li>
        </ul>
        <br>
        Homepage : <a href="https://hd-hyundairobotics.com/en/main">https://hd-hyundairobotics.com/en/main</a>
    </div>
</body>
</html>