<!DOCTYPE html:5>
<html>
<head>
    <title>book cover back</title>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <link href="../css/book.css" type=text/css rel=stylesheet >
    <link href="../css/book_back.css" type=text/css rel=stylesheet >
    <!-- body만 추출되므로 head는 의미없다. -->
</head>
<body>
    <div class="page-break"></div>
    <div class="book-back-tail-addr">
        <br><br><br><br>
        <img src="../view/image/hd_hyundai_robotics_en.png" height="36"/><br>
        <div class='book-back-customer-support-wrap'>
            <div>
                <h2 style="color: #000;">客户支持</h2><br>
                客服总机: 1588-9997 转 1 | 电子邮箱: robotas@hd.com<br>
                在线说明书 (HRBOOK) : <a href="https://hrbook-hrc.web.app/#/bookshelf">https://hrbook-hrc.web.app/#/bookshelf</a><br>
                Kakao 咨询频道 (HD现代机器人 AS) : <a href="http://pf.kakao.com/_hbuJb/chat">http://pf.kakao.com/_hbuJb/chat</a><br>
                服务时间: 工作日（周一 ~ 周五）08:00 ~ 20:00  
                （蔚山办公室 08:00 ~ 次日 05:00，运营至周六）<br>
                <div style='padding-left: 3rem'>| 周末及法定节假日休息</div>
                如需了解产品或服务的详细信息，请联系本公司客户支持团队。<br>
            </div>
            <div>
                <img src="../view/image/qr_hd_hyundairobotics.png" width="90" height="80"/><br><br>
            </div>
        </div>
        <br>
        <ul>
            <li>京畿道: 京畿道 城南市 盆唐寿西路 477，HD现代全球 R&D 中心 10楼</li>
            <li>大邱: 大邱广域市 达城郡 瑜伽邑 科技循环路3街 50</li>
            <li>蔚山: 蔚山广域市 北区 梅谷产业路21 汽车造船技术馆 201-5号</li>
            <li>中部: 忠清南道 牙山市 盐峙邑 松谷路 161</li>
            <li>光州: 光州广域市 西区 风西右路 374</li>
        </ul>
        <br>
        官网 : <a href="http://www.hyundai-robotics.cn">http://www.hyundai-robotics.cn</a>
    </div>
</body>
</html>