<!DOCTYPE html:5>
<html>
<head>
    <title>book cover back</title>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <link href="../css/book.css" type=text/css rel=stylesheet >
</head>
<body>
    <div class="page-break"></div>
    <div class="book-tail-addr">
        <img src="../view/image/hd_hyundai_robotics_en.png" height="40"/><br><br>
        <b>Customer support</b><br>
        Contact: 1670-5041 | Email: robotics@hd.com<br>
        Online manual(HRBOOK) : <a href="https://hrbook-hrc.web.app/#/bookshelf">https://hrbook-hrc.web.app/#/bookshelf</a><br>
        kakao channel(HD Hyundai Robotics AS) : <a href="http://pf.kakao.com/_hbuJb/chat">http://pf.kakao.com/_hbuJb/chat</a><br>
        Operating hours: Weekdays (Monday-Friday) 09:00-18:00 | Closed on weekends and holidays<br>
        For any inquiries about our products or services, please contact our customer support team.<br>
        <br>
        <ul>
            <li>Gyeonggi: 22, Daewangpangyo-ro 712beon-gil, Bundang-gu, Seongnam-si, Gyeonggi-do, Republic of Korea</li>
            <li>Daegu: 50, Techno sunhwan-ro 3-gil, Yuga-eup, Dalseong-gun, Daegu, Republic of Korea</li>
            <li>Ulsan: Room 201-5, Automobile & Shipping Technology Hall, 21, Maegoksaneop-ro, Buk-gu, Ulsan, Republic of Korea</li>
            <li>Joongbu: 161, Songgok-gil, Yeomchi-eup, Asan-si, Chungcheongnam-do, Republic of Korea</li>
            <li>Gwangju: Room 101, Building B, 170-3, Pyeongdongsandan-ro, Gwangsan-gu, Gwangju, Republic of Korea</li>
        </ul>
        ARS 1588-9997 | 1 AS, 2 Consultation for Purchase, Part Purchase, 4 Inquiry for Investment, 5 Inquiries for Recruitment, 6 Inquiries for Training<br>    
        <a href="www.hyundai-robotics.com">www.hyundai-robotics.com</a>
    </div>
</body>
</html>